.editForm {
  padding:  .5rem 2rem;
  margin: 1rem 2rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 25rem;
  height: 45rem;
  line-height: 1.5;
}

.linkBtn {
  text-decoration: none;
  padding: .2rem 2rem;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: center;
}

.deleteBtn {
  text-decoration: none;
  padding: .3rem 2rem;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: center;
  width: 14rem;
  align-self: center;
  border-radius: .7rem;
  background-color: white;
  color: #F27468;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.deleteBtn:hover {
  background-color: #F27468;
  color: whitesmoke;
  transition: ease-in-out .4s;
}

.titleInput {
  width: 100%;
  height: 1.3rem;
}

.editInput {
border-radius: .5rem;
  padding: .5rem;
}

.answerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  .5rem 2rem;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  border-radius: 1rem;
  line-height: 1.5;
  width: 50rem;
}

.containerForm {
  background-color: #CFE3E2;
  display: flex;
  flex-direction: column;
  width: 90rem;
  margin: 6rem auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

  @media @desktop {
   width: 95%;
  }
}

.studentTicketForm {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  width: auto;
  border-radius: 1rem;
  margin: 2rem 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  line-height: 1.5;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.answerInput {
  height: 5rem;
}

.answerContainer {
   display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  .5rem 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  color: #9CC03C;
  background-color: white;
  border-radius: 1rem;
  line-height: 1.5;
  width: 50rem;
}

.editContainer {
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  .5rem 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 1rem;
  line-height: 1.5;
  width: 48rem;
}


