.studentContainer {
  flex-direction: column;
}

.studentCard {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  margin: 4rem 3rem 3rem 3rem;
  width: 17%;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;

  @media @tablet3 {
    margin: 30rem auto 0 auto;
    width: 75%;
  }
}

.studentTicket {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  width: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 3rem 2rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  line-height: 1.5;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.studentImg {
  height: 10rem;
  width: 15rem;
  border-radius: 3rem;
  padding-bottom: 1rem;

  @media @desktop {
    width: 100%;
  }
  @media @tablet3 {
    width: 40%;
    margin: 0 8rem 0 2rem;
  }
  @media @tablet4 {
    margin: 0 5rem 0 1rem;
  }
}

.studentInfo {
  line-height: 1.5;
}

.titleBlock {
  margin: 5rem 2rem -22rem 3rem;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  width: 53%;
  line-height: 1.5;
  color: #63B9B0;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: .8rem;
  font-family: Raleway, serif;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

  @media @desktop3 {
  margin-bottom: -25rem;
  }
  @media @desktop4 {
    margin-bottom: -28rem;
  }
  @media @tablet3 {
    width: 87%;
  }
}

.slogan {
  font-family: 'Lato', sans-serif;
}

.open {
  background-color: #F26E60;
  border-radius: .5rem;
  padding: 1rem;
  margin: 2rem;
  width: 20rem;

  @media @desktop {
    width: 40%;
  }
  @media @desktop2 {
    width: 98%;
  }
}

.resolved {
  background-color: #CFE3E2;
  border-radius: .5rem;
  padding: 1rem;
  margin: 2rem;
  width: 20rem;

  @media @desktop {
    width: 40%;
  }
  @media @desktop2 {
    width: 98%;
  }
}
