@phone: ~"only screen and (max-width: 500px)";
@tinyPhone: ~"only screen and (max-width: 320px)";
@tablet: ~"only screen and (max-width: 980px)";
@hideTitle: ~"only screen and (max-width: 560px)";
@desktop: ~"only screen and (max-width: 1450px)";
@desktop2: ~"only screen and (max-width: 1160px)";
@desktop3: ~"only screen and (max-width: 1375px)";
@desktop4: ~"only screen and (max-width: 1234px)";
@tablet2: ~"only screen and (max-width: 900px)";
@tablet3: ~"only screen and (max-width: 1030px)";
@tablet4: ~"only screen and (max-width: 941px)";
@tablet5: ~"only screen and (max-width: 853px)";

