/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: whitesmoke;
  color: white;
}
.Container {
  background-color: #CFE3E2;
  display: flex;
  width: 90rem;
  margin: 6rem auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1450px) {
  .Container {
    width: 95%;
  }
}
.titles {
  font-weight: 900;
  font-size: 1.1rem;
}
.ticketTitle {
  font-size: 1.8rem;
}
.center {
  margin: 0 auto;
}
textarea {
  width: 25rem;
  height: 5rem;
}
.Nav {
  background-color: #ADDAD3;
  margin-bottom: -6.6rem;
  height: 4rem;
  border-radius: 1rem 1rem 0 0;
  justify-content: center;
}
.navBar {
  align-self: center;
  margin: 0 1rem;
}
.navBar a {
  text-decoration: none;
  margin: 0 2rem;
  width: 15rem;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  color: #9CC03C;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1234px) {
  .navBar a {
    width: 12rem;
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .navBar a {
    margin: 0 0.5rem;
  }
}
@media only screen and (max-width: 853px) {
  .navBar {
    display: none;
  }
}
a:hover {
  background-color: #9CC03C;
  color: whitesmoke;
  transition: ease-in-out 0.4s;
}
.logLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.loginForm {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
  padding: 1.5rem;
  margin: 0 auto 2rem auto;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  height: 20rem;
}
@media only screen and (max-width: 980px) {
  .loginForm {
    margin: 1rem auto;
    align-self: center;
    justify-self: center;
    width: auto;
  }
}
.loginTitle {
  align-self: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: white;
}
.loginInput {
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 70%;
}
.loginBtn {
  width: 50%;
  align-self: center;
  border-radius: 0.7rem;
  padding: 0.3rem;
  margin: 0.6rem;
  background-color: white;
  color: #9CC03C;
  font-weight: 800;
  font-size: 0.9rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.loginBtn:hover {
  background-color: #9CC03C;
  color: whitesmoke;
  transition: ease-in-out 0.4s;
}
.loginPB {
  align-self: center;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: white;
}
.loginImg {
  justify-items: center;
  padding: 1rem;
}
@media only screen and (max-width: 980px) {
  .loginImg {
    display: none;
  }
}
.regForm {
  margin-top: 15rem;
  padding: 1rem 0 0 0;
  width: 45%;
}
@media only screen and (max-width: 1450px) {
  .regForm {
    width: 75%;
  }
}
@media only screen and (max-width: 980px) {
  .regForm {
    width: 75%;
    margin: 15rem auto;
  }
}
@media only screen and (max-width: 500px) {
  .regForm {
    text-align: center;
  }
}
.studentContainer {
  flex-direction: column;
}
.studentCard {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 4rem 3rem 3rem 3rem;
  width: 17%;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1030px) {
  .studentCard {
    margin: 30rem auto 0 auto;
    width: 75%;
  }
}
.studentTicket {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  width: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 3rem 2rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  line-height: 1.5;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.studentImg {
  height: 10rem;
  width: 15rem;
  border-radius: 3rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1450px) {
  .studentImg {
    width: 100%;
  }
}
@media only screen and (max-width: 1030px) {
  .studentImg {
    width: 40%;
    margin: 0 8rem 0 2rem;
  }
}
@media only screen and (max-width: 941px) {
  .studentImg {
    margin: 0 5rem 0 1rem;
  }
}
.studentInfo {
  line-height: 1.5;
}
.titleBlock {
  margin: 5rem 2rem -22rem 3rem;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  width: 53%;
  line-height: 1.5;
  color: #63B9B0;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 0.8rem;
  font-family: Raleway, serif;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1375px) {
  .titleBlock {
    margin-bottom: -25rem;
  }
}
@media only screen and (max-width: 1234px) {
  .titleBlock {
    margin-bottom: -28rem;
  }
}
@media only screen and (max-width: 1030px) {
  .titleBlock {
    width: 87%;
  }
}
.slogan {
  font-family: 'Lato', sans-serif;
}
.open {
  background-color: #F26E60;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem;
  width: 20rem;
}
@media only screen and (max-width: 1450px) {
  .open {
    width: 40%;
  }
}
@media only screen and (max-width: 1160px) {
  .open {
    width: 98%;
  }
}
.resolved {
  background-color: #CFE3E2;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem;
  width: 20rem;
}
@media only screen and (max-width: 1450px) {
  .resolved {
    width: 40%;
  }
}
@media only screen and (max-width: 1160px) {
  .resolved {
    width: 98%;
  }
}
.editForm {
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 25rem;
  height: 45rem;
  line-height: 1.5;
}
.linkBtn {
  text-decoration: none;
  padding: 0.2rem 2rem;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: center;
}
.deleteBtn {
  text-decoration: none;
  padding: 0.3rem 2rem;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: center;
  width: 14rem;
  align-self: center;
  border-radius: 0.7rem;
  background-color: white;
  color: #F27468;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.deleteBtn:hover {
  background-color: #F27468;
  color: whitesmoke;
  transition: ease-in-out 0.4s;
}
.titleInput {
  width: 100%;
  height: 1.3rem;
}
.editInput {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.answerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  border-radius: 1rem;
  line-height: 1.5;
  width: 50rem;
}
.containerForm {
  background-color: #CFE3E2;
  display: flex;
  flex-direction: column;
  width: 90rem;
  margin: 6rem auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1450px) {
  .containerForm {
    width: 95%;
  }
}
.studentTicketForm {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  width: auto;
  border-radius: 1rem;
  margin: 2rem 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  line-height: 1.5;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.answerInput {
  height: 5rem;
}
.answerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  color: #9CC03C;
  background-color: white;
  border-radius: 1rem;
  line-height: 1.5;
  width: 50rem;
}
.editContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 1rem;
  line-height: 1.5;
  width: 48rem;
}
.createTicket {
  display: flex;
  justify-content: center;
}
.createForm {
  padding: 0.5rem 2rem 2rem 2rem;
  margin: 1.5rem;
  font-family: 'Raleway', sans-serif;
  background-color: #63B9B0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 30rem;
  height: 35rem;
  line-height: 2;
}
.create {
  margin: 1rem;
  width: 18rem;
}
.align {
  display: flex;
  margin-top: 1rem;
}
.categories {
  width: 25.5rem;
  height: 10rem;
}
.createTitle {
  font-size: 1.8rem;
}
.helpBlock {
  flex-direction: row;
  text-align: center;
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 900;
  width: 95%;
  line-height: 1.5;
  color: #63B9B0;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 0.8rem;
  font-family: Raleway, serif;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.helpTitle {
  color: #63B9B0;
  margin: 1rem 8rem;
  font-size: 2rem;
  background-color: whitesmoke;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-family: 'Raleway', sans-serif;
}
.helpCate {
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
  background-color: #63B9B0;
  color: #CFE3E2;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.searchBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.helpBtn {
  width: 40%;
  padding: 0.8rem;
  margin: 1rem 10rem 0.8rem 10rem;
}
